{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps.css') }}">
{% block main %}
<h1 class="page-header">Profiles</h1>
    <div id="main">
        {% for user in users %}
        <div>
            <ul>
                {% for image in images_list %}
                <img src="{{ url_for('static', filename='uploads/' + image) }}"/>
                {% endfor %}
                {{ user.firstname }}
                {{ user.lastname }}
                {{ user.gender }}
                {{ user.location }}
               <a href="/profile/{{user.id}}"><button class="btn btn-primary">View Profile</button></a>
            </ul>
        </div>
        {% endfor %}
    </div>
{% endblock %}