{% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
<link href="https://fonts.googleapis.com/css2?family=Cute+Font&family=Fira+Sans&family=Oswald:wght@300&display=swap" rel="stylesheet">

{% block main %}
<h1>Profiles</h1>
    <div>
        {% for user in users %}
            <div>
                <ul id="proparent">
                    <img id="proimg" src="{{ url_for('static', filename='uploads/' + user.photo) }}"/>
                    
                    <div id="prodata">
                        <h5>
                            {{ user.firstname }}
                            {{ user.lastname }}
                        </h5>
                        <p>{{ user.gender }}</p>
                        <p>{{ user.location }}</p>
                    </div>

                    <div id="probutton">
                    <a href="/profile/{{user.id}}"><button class="btn btn-primary">View Profile</button></a>
                    </div>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}