{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps.css') }}">

{% block main %}
    <div id="parent">

        <div id="heading">
            {% for image in images_list %}
                <img src="{{ url_for('static', filename='uploads/' + image) }}"/>
            {% endfor %}
            <h2>{{user.firstname}} {{user.lastname}}</h2>
            <p>{{user.location}}</p>
            <p>{{user.created_on}}</p>
            <p>{{user.email}}</p>
        </div>

        <div id="info">
            <h5>About Me</h5>
            <p class="textsep">
                {{user.biography}}
            </p>
        </div>  

        <button class="btn btn-primary">Send Message</button>
        <button class="btn btn-primary">Follow</button>
    </div>
    
{% endblock %}