{% extends 'base.html' %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/apps.css') }}">

{% block main %}
    <div id="parent">

        <div id="perimage">
            <img id="userimg" src="{{ url_for('static', filename='uploads/' + user.photo) }}"/>
        </div>
        <div id="perdata">
            <h4 id="user_name">{{user.firstname}} {{user.lastname}}</h4>
            <p>{{user.email}}</p>
            <p>{{user.location}}</p>
            <p>Joined on {{user.created_on}}</p>
        </div>

        <div id="perinfo">
            <h5>About Me</h5>
            <p>
                {{user.biography}}
            </p>
        </div>  

        <button class="btn btn-primary" class="perbut" >Send Message</button>
        <button class="btn btn-primary" class="perbut">Follow</button>
    </div>
    
{% endblock %}